@model PagedList.IPagedList<CompStore.Selling>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Продажа</h2>

<div>
    <p>

        Поиск: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Поиск по дате", @style = "width:364px;" })
        <input type="submit" value="Поиск" />
    </p>
</div>

<table class="table">
    <tr>
        <th>
            Продавец
        </th>
        
        <th>
            Общая сумма
        </th>
        <th>
            Дата и время продажи
        </th>
        <th>
            Статус
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @item.AspNetUsers.Surname  @item.AspNetUsers.Name  @item.AspNetUsers.Patronymic
            
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Показать список проданных товаров", "IndexSellingProduct", new { id=item.Id }) |

        </td>
    </tr>
}

</table>

<div style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
           new PagedListRenderOptions
           {
               LinkToFirstPageFormat = "<<",
               LinkToPreviousPageFormat = "Назад",
               LinkToNextPageFormat = "Вперед",
               LinkToLastPageFormat = ">>"
           })
