@model PagedList.IPagedList<CompStore.Category>
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
}

<h2>Категории</h2>
@if (User.IsInRole("Manager") || User.IsInRole("Director"))
{
<p>
    @Html.ActionLink("Добавить", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            Название
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

@if (User.IsInRole("Manager") || User.IsInRole("Director"))
{
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
           
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
        </td>
}
    </tr>
}

</table>

<div style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
           new PagedListRenderOptions
           {
               LinkToFirstPageFormat = "<<",
               LinkToPreviousPageFormat = "Назад",
               LinkToNextPageFormat = "Вперед",
               LinkToLastPageFormat = ">>"
           })

