@model CompStore.Product

@{
    ViewBag.Title = "Edit";
}

<h2>Изменить</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Товар</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

@if (User.IsInRole("Manager") || User.IsInRole("Director") ) { 
       
    <div class="form-group">
            Идентификатор
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identificator, new { htmlAttributes = new { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.Identificator, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           <h5>
            Название
               </h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5>
           Категория
                </h5>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_category, (SelectList)ViewData["CategoryId"])
                @Html.ValidationMessageFor(model => model.Id_category, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <h5>
            Поставщик
                </h5>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_supplier, (SelectList)ViewData["SupplierId"])
                @*@Html.DropDownList("Id", ViewBag.Supplier as SelectList)*@
                @Html.ValidationMessageFor(model => model.Id_supplier, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5>
           Страна производства
                </h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5>
           Количество
                </h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <h5>
            Цена за единицу товара
                </h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        <div class="form-group">
            <h5>
           Дата постановки на учет
                </h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Accounting_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Accounting_date, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (User.IsInRole("Manager") || User.IsInRole("Director"))
        {
        <div class="form-group">
            
            <div class="col-md-10">
                @Html.EditorFor(model => model.Info, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
            </div>
        </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>
