@model IEnumerable<CompStore.AspNetUsers>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>


<table class="table">
    <tr>
        <th>
           Логин
        </th>
       
        <th>
          Фамилия
        </th>
        <th>
           Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Номер личного дела
        </th>
        <th>
            Заработная плата
        </th>
        <th>
            Роль в системе
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Patronymic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.n_per_file)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>

            @foreach (var item1 in item.AspNetRoles)
            {

                @item1.Name
                <br>
            }

        </td>

        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |

@if (User.IsInRole("Director") || User.IsInRole("Counter"))
{
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
}
        </td>
    </tr>
}

</table>
